body{
  background:#EEEEEE;    
 }
 .user-profile-2 {
     text-align: center;
     position: relative;
     margin-top:10px;
 }
 
 .box-info {
     position: relative;
     padding: 15px;
     background: #fff;
     color: #5b5b5b;
     margin-bottom: 20px;
     -webkit-transition: All 0.4s ease;
     -moz-transition: All 0.4s ease;
     -o-transition: All 0.4s ease;
     border-bottom:4px solid #DDDDDD;
 }
 
 .user-profile-2 .header-cover {
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     height: 130px;
     overflow: hidden;
     z-index: 1;
 }
 
 .user-profile-2 .user-profile-inner {
     z-index: 2;
     position: relative;
 }
 
 .user-profile-2 .user-profile-inner h4.white {
     color: #fff;
 }
 
 .user-profile-2 .user-profile-inner img.profile-avatar {
     box-shadow: 0 0 0 5px rgba(255,255,255,1);
     -moz-box-shadow: 0 0 0 5px rgba(255,255,255,1);
     -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,1);
     border: none;
     width:100px;
     height:100px;
 }
 
 .user-button {
     margin: 15px 0;
 }